<html>
    <body>
        <form action="http://localhost:50000/reg_emp_result", method="POST" enctype="multipart/form-data">
            <p>emp_num <input type="text" name="emp_num"></p>
            <p>name <input type="text" name="Name"></p>
            <p>age <input type="text" name="Age"></p>
            <p>photo <input type="file" name="file"></p>
            <p>team <input type="text" name="Team"></p>
            <p>position <input type="text" name="Pos"></p>
            <p><input type="submit" value="submit"></p>
        </form>
    </body>
</html>